__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.DS_Store
.idea/
.vscode/
*.sqlite
*.db
*.log
logs/
assets/*.jpg
assets/*.png
!assets/draghead.jpg
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
